* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }


  /* ------------end of css reset---------- */

#root header {
  position: fixed;
  width: 100%;
  height: 60px;
  background-color: #1a24fb;
}

#root header button {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  margin: 10px;
}

#root header button svg {
  pointer-events: none;
}
  
#root header button svg rect {
  fill: white;
  transform-origin: center;
  transform-box: fill-box;
  transition: opacity 400ms, transform 400ms;
}
  
#root header button svg rect:nth-child(1) {
  transform: translate(10px, 10px);
}  
  
#root header button svg rect:nth-child(2) {
  transform: translate(10px, 19px);
}  
  
#root header button svg rect:nth-child(3) {
  transform: translate(10px, 28px);
}

#root header button.clicked svg rect:nth-child(1) {
  transform: translate(10px, 10px) rotate(45deg);
}    

#root header button.clicked svg rect:nth-child(2) {
  transform: translate(10px, 19px);
  opacity: 0;
}  

#root header button.clicked svg rect:nth-child(3) {
  transform: translate(10px, 28px) rotate(-45deg);
}
