* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    background: transparent;
    font-family: inherit;
  }
  a{
    text-decoration: none;
  }
  a img {
    border: none;
  }
  
  button,
  a {
    cursor: pointer;
    color: inherit;
  }
  
  textarea {
    resize: none;
  }
  
  button,
  textarea,
  select {
    appearance: none !important;
    border-radius: 0;
  }


  /* ------------end of css reset---------- */

input {
    width: 200px;
    height: 40px;
    background-color: wheat;
    border: solid 1px black;
    margin: 10px;
}

button {
    width: 200px;
    height: 20px;
    margin: 10px;
    background-color: olivedrab;
    color: white;
}
